.card {
  .icon {
    height: 70px;
    margin: 60px 0;
    display: flex;
    align-items: center;
    text-align: center;

    img {
      flex: 1;
    }
  }

  .content {
    margin-bottom: 70px;
    padding: 0 10px;
    text-align: center;
    border-bottom: solid 1px lighten($gray, 30%);
    border-right: none;

    h4 {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 26px;
      color: $gray_dark;
    }

    p {
      margin-top: 40px;
      padding-bottom: 70px;
      font-family: 'Merriweather', serif;
      font-size: 15px;
      font-weight: 400;
      color: $gray;
      line-height: 29px;
    }
  }

  &:last-child .content {
    border-bottom: none;
  }
}

@media (min-width: $screen-md-min) {
  .card {
    .icon{
      margin: 40px 0 60px 0;
    }

    .content {
      padding: 0 50px;
      border-right: solid 1px lighten($gray, 30%);
      border-bottom: none;
      text-align: left;
    }

    &:last-child .content {
      border-right: none;
    }
  }
}