.list-comments {
  margin: 40px 10px 0 10px;

  .avatar-wrapper {
    float: left;
  }

  .total {
    text-align: center;

    h3 {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 26px;
      color: $black;
      opacity: .6;
    }
  }

  .comment-item {
    margin-top: 25px;
    padding: 30px 20px 40px 50px;
    box-shadow: 0 0 41px -5px rgba(0, 0, 0, 0.1);

    .header {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;

      .information {
        margin-left: 20px;
        float: left;

        h5 {
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-weight: 500;
          color: $gray_author;
        }

        small {
          font-family: "Roboto", sans-serif;
          font-size: 12px;
          font-weight: 400;
          color: $gray_date;
        }
      }

      .answer {
        position: absolute;
        right: 0;
        bottom: 40px;
        float: right;

        button {
          width: 30px;
          height: 30px;
          @include background-image-svgpng('../assets/icons/reply');
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
          transition: .3s background;

          &:hover {
            @include background-image-svgpng('../assets/icons/reply_hover');
          }
        }
      }
    }

    .text {
      margin-top: 20px;
      clear: both;

      p {
        font-family: "Merriweather", serif;
        font-size: 16px;
        line-height: 26px;
        color: $gray;
      }
    }
  }

  .responses {
    .comment-item {
      border-left: 3px solid $red;
    }
  }
}

@media (min-width: $screen-md-min) {
  .list-comments {
    margin: 60px 160px 0 160px;

    .total {
      margin-bottom: 50px;
      text-align: left;
    }

    .header {
      .answer {
        right: 10px !important;
        bottom: 35px !important;
      }
    }

    .responses {
      .comment-item {
       margin-left: 80px;
      }
    }
  }
}