//COLORS
$white: #fff;

$red: #E43B40;
$red_hover: #FF595E;

$black: #000;
$black_header: #151416;

$gray_light: #CECED2;
$gray: #9A9A9A;
$gray_dark: #404040;

$gray_background_light: #F8F8F8;
$gray_number: #E3E3E3;
$gray_border: #E7E7E7;

$gray_author: #818181;
$gray_date: #C2C2C2;